body{
    background: hotpink;
    margin: 0px;
    font-family: "Playfair Display", serif;

}

header{
    border-bottom: solid 2px black;
    padding: 20px;
    font-size: 32px;
}

section{
    background: purple;
    padding-bottom: 20px;
    padding-top: 20px;
    display: flex;
    justify-content: center;
}

.chamada-texto{
    margin-right: 20px;
}
img{
    height: 200px;
}

.categoria-videos{
    display: flex;
}

.categoria {
    padding-left: 20px;
    padding-right: 20px;
}

.categoria-videos img{
    opacity: 0.5;

}